<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background deep-purple accent-2"></div>
      <h3 class="white-text">Welcome</h3>
      <div class="white-text name">John Doe</div>
      <div class="white-text email">jdandturk@gmail.com</div>
    </div>
  </li>
  <li>
    <a routerLink="shop" class="waves-effect waves-light btn purple accent-2">Home</a>
  </li>
  <li>
    <a routerLink="login" class="waves-effect waves-light btn">Login</a>
  </li>
  <li>
    <a routerLink="signup" class="waves-effect waves-light btn">Signup</a>
  </li>
  
  <footer>
    <a class="centered waves-effect waves-light btn amber"><i class="material-icons left">add_shopping_cart</i>CART</a>
  </footer>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"
  ><i class="material-icons">menu</i>
</a>
