<div class="row">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="col l8 grey lighten-4 offset-l1"
    style="padding: 5rem; margin-top: 9rem"
  >
    <div class="row">
      <div class="input-field col l12">
        <input id="email" type="email" formControlName="email" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l12">
        <input id="password" type="password" formControlName="password" />
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row centered">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>
</div>
